.user_function {
  display: flex;
  justify-content: space-between;
  width: 15.66820276vw;
  height: 5.5957867vw;
  line-height: 5.5957867vw;
}
.user_function .bi-cart3 {
  visibility: hidden;
}
.content {
  display: flex;
}
.content .left {
  padding: 0 10%;
  width: 50%;
  height: 100%;
  border-right: 5px solid #e6c7bd;
}
.content .left h3 {
  font-size: 2.10664911vw;
  color: #737373;
}
.content .left ul li {
  display: flex;
  margin-top: 1.31665569vw;
  height: 5.26662278vw;
  border: 2px solid #dfd8d7;
}
.content .left ul li .pic {
  margin: 0.32916392vw;
  width: 4.60829493vw;
  height: 4.60829493vw;
}
.content .left ul li .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.65832785vw;
}
.content .left ul li .text {
  flex: 1;
}
.content .left ul li .text .item {
  font-weight: 700;
}
.content .left ul li .text .trash {
  margin-right: 0.19749835vw;
  text-align: right;
}
.content .left ul li .text .trash i {
  cursor: pointer;
}
.content .right {
  padding: 3.94996708vw 5% 0 5%;
  width: 50%;
  height: auto;
}
.content .right .userinfo {
  padding: 0 10%;
  width: 100%;
  height: 19.74983542vw;
  border-bottom: 3px solid #e6c7bd;
}
.content .right .userinfo p {
  padding-left: 0.65832785vw;
  margin-bottom: 1.31665569vw;
  height: 3.29163924vw;
  line-height: 3.29163924vw;
  border: 1px solid #dfd8d7;
}
.content .right .checkout {
  padding: 10% 10%;
  width: 100%;
  height: 13.16655695vw;
}
.content .right .checkout p {
  margin-bottom: 0.98749177vw;
}
.content .right .checkout .total {
  display: flex;
  justify-content: space-between;
  height: 3.94996708vw;
}
.content .right .checkout .total p {
  font-size: 1.7116524vw;
  line-height: 3.94996708vw;
}
.content .right .checkout .total button {
  width: 7.89993417vw;
  height: 3.94996708vw;
  line-height: 3.94996708vw;
  font-size: 1.31665569vw;
  background-color: #fbfbc7;
  border: none;
  border-radius: 0.65832785vw;
  cursor: pointer;
  transition: all 0.3s;
}
.content .right .checkout .total button:hover {
  font-weight: 700;
  box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.5);
}
